/* Style sheet for index.html of pair programming day 10 assignment */

#company {
  font-family: 'Yellowtail', cursive;
  font-size: 35px;
  line-height: .9;
}

* {
  font-family: "Times New Roman", Georgia, Serif;
  font-size: 16px;
}

.explanatory {
  font-family: 'Titillium Web', sans-serif;
  font-size: 10px;
}

#recipe {
  background-image: url("../images/list-bg.png");
  box-shadow: 5px 5px 3px #888888;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#full-body {
  max-width: 900px;
  margin: auto;}

.indent {
  text-indent: 30px;
}

ul {
  list-style: None;
  line-height: 31px;
}

.split {
  display: inline-block;
  width: 49%;
  overflow: auto;
}

.right {
  text-align: right;
  float: right;
}

.done {
  text-decoration: line-through;
}

.float-left {
  float: left;
  margin-right: 5px;
}

.bottom {
  position: absolute;
}

.margin2 {
  margin-right: 0px;
}

table {
  border: 5px;
}

.margin10 {
  margin-right: 5px;
}

#tagline {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
}


.split680 {
  display: inline-block;
  width: 680px;
  overflow: auto;
}

.split200 {
  text-align: right;
  float: right;
}

.authorpic {
  margin-right: 5px;
  float: left;
}

.center {
  text-align: center;
}

.bio {
  font-size: 20px;
  font-weight: bold;
}

.button {
  width: 200px;
  height: 50px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  background-color: red;
  color: white;
}
